@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Lato:wght@400;600&display=swap');

body {
  text-align: center;
  background-color: #fffaf0;
  background-image: radial-gradient(#f9c74f 2px, transparent 2px);
  background-size: 40px 40px;
}
